body{margin: 0;padding: 0; font-family:'omyu_pretty', sans-serif; background: rgba(19, 32, 67,0.9); font-size: 20px}
/* header */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
}

/*!*.menu_pan {*!*/
/*!*    width: 100%;*!*/
/*!*    position: relative;*!*/
/*!*}*!*/
/*!*.menu_op {*!*/
/*!*    width: 100%;*!*/
/*!*    height: 100%;*!*/
/*!*    background: white;*!*/
/*!*    opacity: 0.9;*!*/
/*!*}*!*/
/*!*.pan_area { *!*/
/*!*    width: 1300px;*!*/
/*!*    height: 100%;*!*/
/*!*    background: white;*!*/
/*!*    position: absolute;*!*/
/*!*    top: 0;*!*/
/*!*    left: 50%;*!*/
/*!*    transform: translateX(-50%);*!*/
/*!*}*!*/
/*.pan_line {*/
/*    width: 100%;*/
/*    height: 5px;*/
/*}*/

/*.pan_name {*/
/*    width: 1300px;*/
/*    z-index: 1000;*/
/*    display: flex;*/
/*    -webkit-box-pack: justify;*/
/*    justify-content: flex-start;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    height: 40px;*/
/*    padding: 10px 0px 10px 0px;*/
/*}*/
/*.pan_icon {*/
/*    display: flex;*/
/*    gap: 16px;*/
/*}*/
/*.pan_back {*/
/*    display: flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*}*/
/*.pan_back > li {*/
/*    display: flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    margin: -10px 0px 0px 0px;*/
/*    cursor: pointer;*/
/*}*/
/*.pan_back .goback {*/
/*    transform: rotate(180deg);*/
/*}*/
/*.pan_name > p {*/
/*    margin: 0px 0px 7px 0px;*/
/*}*/
/*.goback {*/
/*    border: none;*/
/*    background-color: white;*/
/*    cursor: pointer;*/
/*    !*filter: rgba(255,255,255,0.8);*!*/
/*}*/
